.homepage{
    
    .header-news{
        min-height: 700px;
        background: url(../img/indonesia.jpg);
        background-size: cover;
        background-position: center;
        
        .header-title{
            @include font-bold;
            color: #fff;
            font-size: 56px;
            padding-top: 160px;
            line-height: 1.4;
            text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
        }
        
        .btn{
            margin-top: 50px;
        }
    }
    
    .header-features{
        padding: 46px 0;
        box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.05);
        
        .item{
            display: flex;
            justify-content: flex-start;
            
            @include responsive-below(sm){
                margin: 40px 0;
            }
            
            .left{
                i{
                    font-size: 40px;
                }
                padding-right: 15px;
            }
            
            .right{
                @include font-bold;
            }
            
        }
    }
    
    .magazine{
        padding: 100px 0;
        
        .magazine-text{
            .title-magazine{
                @include font-bold;
                font-size: 32px;
            }
            
            .subtitle-magazine{
                @include font-regular;
                color: #93959f;
                font-size: 24px;
                padding-top: 15px;
            }
            
            .link-magazine{
                font-size: 18px;
                margin: 10px 0;
            }
            
            .list-title-magazine{
                @include font-regular;
                margin-top: 40px;
                margin-bottom: 8px;
            }
                
            .list-items-magazine > li{
                @include font-regular;
                padding: 4px 0;
            }
            
            .reduction-magazine{
                @include font-regular;
                color: #93959f;
                font-size: 20px;
                padding: 20px 0;
            }
            
            .buy-magazine{
            }
        }
        
        .magazine-photo{
            img{
                max-width: 100%;
                height: auto;
                box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.05);
            }
        }
        
    }
    
    .news{
        .title{
            display: inline-block;
            float: right;
            font-size: 42px;
            @include font-bold;
        }
        
        .subtitle{
            display: inline-block;
            float: right;
            font-size: 24px;
            @include font-regular;
            color: #93959f;
            margin-bottom: 50px;
        }
        
        .news-u{
            margin-bottom: 50px;
            
            .miniature{
                width: 100%;
                height: 200px;
                overflow: hidden;
                background: grey;
                
                img{
                    height: 100%;
                    width: 100%;
                    transition: 0.5s;
                }
                
                img:hover{
                    transform: scale(1.05);
                }
            }
            
            h3{
                font-size: 20px;
                @include font-bold;
                margin-top: 15px;
                
                a{
                    color: #212529;
                }
            }
            
            h5{
                font-size: 16px;
                @include font-regular;
                color: #93959f;
            }
        }
        
        .btn-box{
            margin-top: 30px;
            margin-bottom: 100px;
        }
    }
    
    .twitter-feed{
        .title{
            font-size: 42px;
            @include font-bold;
        }

        .subtitle{
            font-size: 24px;
            @include font-regular;
            color: #93959f;
            margin-bottom: 50px;
        }
        
        .demo{
            height: 400px;
            background: #dedede;
        }
    }
}