.homepage{
    
    .header-news{
        min-height: 700px;
        background: url(../img/indonesia.jpg);
        background-size: cover;
        background-position: center;
        filter: grayscale(0.45);
        
        .header-title{
            @include font-bold;
            color: #fff;
            font-size: 56px;
            padding-top: 160px;
            line-height: 1.4;
            text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
        }
        
        .btn{
            margin-top: 50px;
            padding: 1rem 2.5rem;
            @include font-regular;
        }
    }
    
    .header-features{
        padding: 46px 0;
        box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.05);
        
        .item{
            display: flex;
            justify-content: flex-start;
            
            @include responsive-below(sm){
                margin: 40px 0;
            }
            
            .left{
                i{
                    font-size: 40px;
                }
                padding-right: 15px;
            }
            
            .right{
                @include font-bold;
            }
            
        }
    }
    
    .magazine{
        padding: 100px 0;
        
        .magazine-text{
            .title-magazine{
                @include font-bold;
                font-size: 32px;
            }
            
            .subtitle-magazine{
                @include font-regular;
                color: #93959f;
                font-size: 24px;
                padding-top: 15px;
            }
            
            .link-magazine{
                font-size: 18px;
                margin: 10px 0;
            }
            
            .list-title-magazine{
                @include font-regular;
                margin-top: 40px;
                margin-bottom: 8px;
            }
                
            .list-items-magazine > li{
                @include font-regular;
                padding: 4px 0;
            }
            
            .reduction-magazine{
                @include font-regular;
                color: #93959f;
                font-size: 20px;
                padding: 20px 0;
            }
            
            .buy-magazine{
                .btn{
                    @include font-regular;
                }
            }
        }
    }
        
        .magazine-photo{
            img{
                max-width: 100%;
                height: auto;
                box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.05);
            }
        }
}